

<h1>Blogs</h1>

<%= form_tag('/blogs', method: :get) do %>

 <div class="field">
    <%= label_tag :user_id %>
    <%= select_tag :user_id, options_for_select(User.all.map{|s|[s.email, s.id]},params[:user_id]), {onchange: 'this.form.submit();'}%>
    </div>
      <% end %> 
  

<table>
<thead>
 <% if @blogs.empty? %>
  <div class="alert alert-success" role="alert">
    No blogs have been created yet by the user
  </div>
  <% else %> 
     <tr>
      <th> Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
     
  </thead>
  <% end %>
  <tbody>
  
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= render 'link' %>
